<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>proxy双向数据绑定</title>
  </head>

  <body>
    <div id="app">
      用户名：<input type="text" v-model="name" /> 用户名2：<input type="text" v-model="name" /> 密码：<input
        type="text"
        v-model="password"
      />
      <input @keypress="onkeypress" />
      <p>{{name}}</p>
      {{password}}
      <!-- <div>{{name}}</div> -->
      {{list}}
    </div>

    <script>
      function Vue(option) {
        // 数据挟持
        this.data = observe(option.data);
        this.id = option.el;
        this.methods = option.methods;
        // 完成对模版解析以及触发订阅
        let dom = nodeCopyToFragment(document.getElementById(this.id), this);
        document.getElementById(this.id).appendChild(dom);
      }

      function observe(data) {
        if (!data || typeof data != 'object') {
          return;
        }
        let pubsubBox = new Pubsub();
        const handler = {
          get(target, property, receiver) {
            Pubsub.target && pubsubBox.subscribe(Pubsub.target);
            return target[property];
          },
          set(target, property, value) {
            if (value !== target[property]) {
              target[property] = value;
              pubsubBox.publish();
            }
          },
        };
        return new Proxy(data, handler);
      }

      function Pubsub() {
        this.subs = [];
      }

      // 订阅
      Pubsub.prototype.subscribe = function (sub) {
        this.subs.push(sub);
      };

      // 发布
      Pubsub.prototype.publish = function () {
        this.subs.forEach((sub, index) => {
          sub.update();
        });
      };

      function Watcher(vm, node, name) {
        this.vm = vm;
        this.node = node;
        this.name = name;
        // new Watcher执行这一句，触发订阅
        this.value = this.get();
      }

      // 订阅
      Watcher.prototype.get = function () {
        Pubsub.target = this;
        let value = this.vm.data[this.name];
        Pubsub.target = null;
        return value;
      };

      Watcher.prototype.update = function () {
        console.log(this.vm.data);
        if (this.node.nodeType === 1) {
          this.node.value = this.vm.data[this.name];
        } else {
          this.node.textContent = this.node.template.replace(/\{\{([^}]*)\}\}/g, (_template) => {
            let key = _template.slice(2, _template.length - 2);
            return this.vm.data[key];
          });
        }
      };

      // 把 #id 的所有子节点拷贝到 fragment 上
      function nodeCopyToFragment(node, vm) {
        // 创建一个文档碎片
        let fragment = document.createDocumentFragment();
        let child;
        while ((child = node.firstChild)) {
          // 节点的appendChild方法用于在内容末尾插入节点，如果要插入的节点 已经 在文档中则 先剪切再插入。
          fragment.appendChild(child);
        }
        compileNode(fragment.childNodes, vm);
        return fragment;
      }

      function compileNode(nodes, vm) {
        //此处传入的nodes是一个类数组，将其转化为数组
        Array.from(nodes).forEach((node) => {
          compiler(node, vm);
          // 如果node还有子节点，则继续解析
          if (node.childNodes.length > 0) {
            compileNode(node.childNodes, vm);
          }
        });
      }

      // 解析模版
      function compiler(node, vm) {
        // 如果是元素节点
        if (node.nodeType === 1) {
          // 获得元素节点上所有的属性，以键值对的方式存储在attr中，attr属于类数组
          let attr = node.attributes;
          Array.from(attr).forEach((element) => {
            if (element.nodeName === 'v-model') {
              let name = element.nodeValue;
              // 给带有v-model指令的元素绑定input时间
              node.addEventListener('input', function (e) {
                vm.data[name] = e.target.value;
              });
              // 初始化带有v-model指令的元素的值
              node.value = vm.data[name];
              // 触发订阅
              new Watcher(vm, node, name);
            }
            // 简单实现vue methods方法
            if (element.nodeName.startsWith('@')) {
              // 事件名
              const currentEvent = element.nodeName.slice(1, element.nodeName.length);
              // 获取对应的函数名
              const func = vm?.methods[element.nodeValue];
              if (!func) {
                console.error(`Uncaught TypeError: ${element.nodeValue} is not a function`);
                return;
              }
              // 改变this指向
              node.addEventListener(currentEvent, func.bind(vm));
            }
          });
        }
        // 正则匹配到文本中有{{}}的文本
        let reg = /\{\{([^}]*)\}\}/g;
        let textContent = node.textContent;
        // 如果是文本节点且文本中带有{{}}的节点
        if (node.nodeType === 3 && reg.test(textContent)) {
          // 将文本内容存放在当前节点的自定义属性上
          node.template = textContent;
          // 此处node.textContent 和 node.template的文本一样，如果上一步不将文本存储到自定义属性中，那么下次将无法匹配到{{}}。
          node.textContent = node.template.replace(reg, (_template) => {
            // 获取数据的key值 {{name}} ===> name
            let key = _template.slice(2, _template.length - 2);
            new Watcher(vm, node, key);
            // 返回对应的值
            return vm.data[key];
          });
        }
      }

      let vm = new Vue({
        el: 'app',
        data: {
          name: '1234',
          password: '',
          list: [1, 2, 3],
        },
        // 简单实现 vue methods
        methods: {
          onkeypress: function (e) {
            e.a();
            if (e.code === 'Enter') {
              this.data.list = [...this.data.list, e.target.value];
              e.target.value = '';
            }
          },
        },
      });
    </script>
  </body>
</html>
